@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    --action-color: #7c8494;  
    --primary-color-1: #6e4836;
    --primary-color-2: #5f4132;
    --base-color-1: #918172;
    --base-color-2: #6b5e50;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--base-color-2);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--base-color-1);
}