@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    --action-color: #00DFDC;  
    --primary-color-1: #6E4836;
    --primary-color-2: #5F4132;
    --base-color-1: #918172;
    --base-color-2: #6B5E50;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--base-color-2);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(107, 94, 80, 0.8);
}

.mask {
    clip-path: polygon( 69.791% 14.681%,69.791% 4.591%,69.791% 4.591%,69.755% 3.865%,69.649% 3.175%,69.481% 2.533%,69.255% 1.946%,68.977% 1.424%,68.654% 0.976%,68.29% 0.612%,67.891% 0.34%,67.464% 0.171%,67.013% 0.112%,36.109% 0.112%,2.778% 0.112%,2.778% 0.112%,2.327% 0.171%,1.9% 0.34%,1.501% 0.612%,1.137% 0.976%,0.814% 1.424%,0.536% 1.946%,0.31% 2.533%,0.142% 3.175%,0.036% 3.865%,0% 4.591%,0% 76.421%,0% 76.421%,0.036% 77.148%,0.142% 77.837%,0.31% 78.48%,0.536% 79.067%,0.814% 79.589%,1.137% 80.036%,1.501% 80.401%,1.9% 80.672%,2.327% 80.842%,2.778% 80.901%,27.431% 80.901%,27.431% 80.901%,27.882% 80.959%,28.309% 81.129%,28.708% 81.401%,29.072% 81.765%,29.396% 82.213%,29.673% 82.734%,29.899% 83.321%,30.067% 83.964%,30.173% 84.653%,30.209% 85.38%,30.209% 95.409%,30.209% 95.409%,30.245% 96.135%,30.351% 96.825%,30.519% 97.467%,30.745% 98.054%,31.023% 98.576%,31.346% 99.024%,31.71% 99.388%,32.109% 99.66%,32.536% 99.829%,32.987% 99.888%,97.222% 99.888%,97.222% 99.888%,97.673% 99.829%,98.1% 99.66%,98.499% 99.388%,98.863% 99.024%,99.186% 98.576%,99.464% 98.054%,99.69% 97.467%,99.858% 96.825%,99.964% 96.135%,100% 95.409%,100% 23.64%,100% 23.64%,99.964% 22.913%,99.858% 22.224%,99.69% 21.582%,99.464% 20.995%,99.186% 20.473%,98.863% 20.025%,98.499% 19.661%,98.1% 19.389%,97.673% 19.219%,97.222% 19.161%,72.569% 19.161%,72.569% 19.161%,72.118% 19.102%,71.691% 18.932%,71.292% 18.661%,70.928% 18.296%,70.605% 17.849%,70.327% 17.327%,70.101% 16.74%,69.933% 16.097%,69.827% 15.408%,69.791% 14.681% );
}